:host {
    display: flex;
    justify-content: start;
    min-height: 100vh;
    flex-direction: column;
}

.content-container {
    display: flex;
    width: 1128px;
    margin: 100px auto 0;

    @media (max-width: 1200px) {
        width: auto;
        justify-content: center;
        margin-top: 0;
    }
}

app-all-posts,
.post-devider {
    margin: 0 12px;
}

.post-devider {
    padding-top: 8px;
    margin: 0 12px;
}

app-tabs {
    margin-top: 0;
}