:host {
    justify-content: start;
}

.content-container{
    display: flex;
    width: 1128px;
    margin: 40px auto 0;
}

app-all-posts, .post-devider {
    margin: 0 12px;
}

.post-devider {
    padding-top: 8px;
    margin: 0 12px;
}